html, body, button, a, li {
    cursor: none !important;
  }
  
  .custom-cursor {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 192, 236);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1000;
    transition: background-color 0.2s, transform 0.1s;
  }
  
  .custom-cursor.invert {
    background-color: blue;
  }
  